GHA_AI_AGENT_GIT_TOKEN=
GITHUB_TOKEN_NOT_OEPNER=
GHA_AI_AGENT_AWS_ACCESS_KEY_ID=
GHA_AI_AGENT_AWS_SECRET_ACCESS_KEY=
GHA_AI_AGENT_ANTHROPIC_API_KEY=
GHA_AI_AGENT_CLAUDE_API_KEY=
GHA_AI_AGENT_OPENAI_API_KEY=
GHA_AI_AGENT_AZURE_OPENAI_API_KEY=
GHA_AI_AGENT_AZURE_OPENAI_ENDPOINT=
GHA_AI_AGENT_AZURE_OPENAI_API_VERSION=2024-10-21
GHA_AI_AGENT_AZURE_ACCESS_TOKEN=
GHA_AI_AGENT_AZURE_SUBSCRIPTION_ID=
GHA_AI_AGENT_AZURE_RESOURCE_GROUP=
GHA_AI_AGENT_AZURE_OPENAI_ACCOUNT_NAME=
GHA_AI_AGENT_AZURE_OPENAI_LOCATION=
GHA_AI_AGENT_AZURE_OPENAI_ACCOUNT_SKU=S0
GHA_AI_AGENT_AZURE_OPENAI_DEPLOYMENT_MODEL_NAME=
GHA_AI_AGENT_AZURE_OPENAI_DEPLOYMENT_MODEL_VERSION=
GHA_AI_AGENT_AZURE_OPENAI_DEPLOYMENT_SKU_NAME=Standard
GHA_AI_AGENT_AZURE_OPENAI_DEPLOYMENT_CAPACITY=1
GHA_AI_AGENT_GOOGLE_API_KEY=
